spring:
  application:
    name: email-classifier
  r2dbc:
    url: r2dbc:postgresql://${DB_HOST}:${DB_PORT:5432}/${DB_DATABASE_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    properties:
      sslMode: ${DB_SSL_MODE:prefer}
  flyway:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT:5432}/${DB_DATABASE_NAME}
    user: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  ai:
    retry:
      on-client-errors: ${AI_RETRY_ON_CLIENT_ERRORS:true}
    mistralai:
      api-key: ${MISTRAL_API_KEY}
      embedding:
        options:
          model: ${MISTRAL_EMBEDDING_MODEL:mistral-embed}
app:
  batch:
    max-per-second: ${MAX_BATCH_EMBEDDING_PER_SECOND:5}
  prompt:
    prefix:
      embedding: ${APP_PROMPT_PREFIX_EMBEDDING:}
      classification: ${APP_PROMPT_PREFIX_CLASSIFICATION:}
