name: CI Pipeline [Main Branch]

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-verify-publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Java 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'zulu'
          cache: 'gradle'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '9.2.1'

#      - name: Cache SonarQube packages
#        uses: actions/cache@v4
#        with:
#          path: ~/.sonar/cache
#          key: ${{ runner.os }}-sonar
#          restore-keys: ${{ runner.os }}-sonar
#
#      - name: Build and run tests
#        run: ./gradlew --no-daemon build test
#
#      - name: Run test coverage verification
#        run: ./gradlew --no-daemon jacocoTestCoverageVerification
#
#      - name: Run SonarQube scan
#        env:
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#        run: ./gradlew --no-daemon sonar --info
#
#      - name: Run SonarQube quality gate check
#        id: sonarqube-quality-gate-check
#        uses: sonarsource/sonarqube-quality-gate-action@master
#        with:
#          pollingTimeoutSec: 600
#          scanMetadataReportFile: 'build/sonar/report-task.txt'
#        env:
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      - name: Build container image
        if: github.ref_name == 'main'
        run: ./gradlew --no-daemon bootBuildImage --imageName ghcr.io/${{github.repository}}:latest

      - name: Login to GHCR
        if: github.ref_name == 'main'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish container image
        if: github.ref_name == 'main'
        run: docker push ghcr.io/${{github.repository}}:latest
